.nav-tools {
    display: flex;
    gap: 10px;
}

.container-info-user {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 5px 5px 5px;
    gap: 20px;
    max-width: max-content;
}

.container-info-user .info-system {
    background-color: #3232231c;
    width: max-content;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.box-info-visualizar-usuario{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 0 20px 0; 
    max-width: 400px;
}

.font-size-m{
    font-size: 26px;
    margin: 0;
}

.font-size-p{
    font-size: 16px;
    margin: 0;
    color: #BDBDBD;
}

.container-mini-dashboard-user{
    margin: 0 0 0 30px;
}