.select-status-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: max-content;
}

.select-status {
    height: 40px;
    width: 190px;

    font-size: 16px;
    font-family: Inter;
 
    display: flex;
    text-align: left; 

    border: 2px solid #D9D9D9;
    border-radius: 20px;
    outline: none;

    padding: 0 24px 0 24px;

    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}

/* Status "ativo" */
.select-status-concluida,
.select-status-ativo {
    border-color: #28a745;
    background-color: #e6ffed;
}

.select-status-inativo {
    border-color: #a72828;
    background-color: #ffe6e6;
}

/* Status "inativo" */
.select-status-analise {
    border-color: #dcb035;
    background-color: #fdffe6;
}

.select-status-agendada {
    border-color: #3546dc;
    background-color: #e6eaff;
}

.tag-concluida,
.tag-ativo{
    position: absolute;
    width: 20px;
    height: 8px;
    border-radius: 10px;
    background-color: #28a745;
    z-index: 9999;
    top: 16px;
    right: 30px;
}

.tag-inativo{
    position: absolute;
    width: 20px;
    height: 8px;
    border-radius: 10px;
    background-color: #a72828;
    z-index: 9999;
    top: 16px;
    right: 30px;
}

.tag-analise{
    position: absolute;
    width: 20px;
    height: 8px;
    border-radius: 10px;
    background-color: #dcb035;
    z-index: 9999;
    top: 16px;
    right: 30px;
}

.tag-agendada{
    position: absolute;
    width: 20px;
    height: 8px;
    border-radius: 10px;
    background-color: #3546dc;
    z-index: 9999;
    top: 16px;
    right: 30px;
}

.tag-indeferida{
    position: absolute;
    width: 20px;
    height: 8px;
    border-radius: 10px;
    background-color: #a7a7a7;
    z-index: 9999;
    top: 16px;
    right: 30px;
}