.table-item {
  box-sizing: border-box;
  position: relative;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 78px 16px 48px;

  gap: 16px;

  min-width: 100%;

  height: 100px;

  background: #fff;
  border: 1px solid #eaecf0;

  overflow: hidden;
}

.sm {
  height: 50px !important;
}

.table-item:hover {
  background: #f9fafb;
}

.table-item-column {
  width: 100%;
  word-break: break-word;
}

.table-item-columnundefined {
  position: relative !important;
  left: 0;
  top: 0;
  width: 100%;
}

.table-item-columnundefined span {
  font-size: 16px !important;
}


.table-item-columnativo,
.table-item-columninativo {
  width: 300px;
  max-width: 300px;
  text-align: center;
}

.table-item-column a {
  text-decoration: none;
  color: #11181c;
}

.table-item-column a:hover {
  opacity: 0.8;
}

.table-item-id {
  font-size: 12px;
  color: rgb(179, 179, 179);
  padding: 2px 8px 2px 4px;
  background-color: #f9fafb;
  border-radius: 0 0 10px 0;
  position: absolute;
  top: 0;
  left: 0;
}

.table-item-id a svg{
  width: 13px;
  height: 13px;
  fill: rgb(179, 179, 179);
  position: relative;
  top: 1px;
}

.table-item-id a{
  text-decoration: none;
  color: rgb(179, 179, 179);
}

.table-item-id a:hover{
  text-decoration: underline;
}


.table-item .status {
  position: absolute;
  right: 70px;
  border-radius: 21px;
  padding: 12px 32px;
}

.ativo,
.concluido {
  background-color: #beeec6;
}

.inativo {
  background-color: #eebebe;
}

.status-concluida {
  background-color: #beeec6;
}

.status-analise {
  background-color: #fff3c5;
}

.status-agendada {
  background-color: #d7dbff;
}

.status-indeferida {
  background-color: #e4e4e4;
  opacity: 0.4;
}

.status span {
  font-size: 16px;
  font-weight: 600;
}

.table-item-action {
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #f9fafb;
  height: 100%;
}

.sm .table-item-action {
  flex-direction: row;
  height: 100%;
}

.button-action {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.view:hover svg {
  fill: #5688e4;
}

.edit:hover svg {
  fill: #e4be56;
}

.delete:hover svg {
  fill: #e45656;
}

.delete-false {
  display: none;
}