.header {
  position: absolute;
  top: 0;
  left: 210px;
  width: calc(100% - 250px);
  height: 80px;
  background-color: #fff;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

.header-menu-is-open {
  width: calc(100% - 40px);
  left: 0;
  z-index: 99999;
}

.header .header-svg {
  cursor: pointer;
  display: flex;
}

.header .header-svg:hover {
  opacity: 0.5;
}

.header .header-svg-false {
  display: none;
}

.header .nav-options {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.header .menu-item-nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 14px;
  padding: 8px;
  /*
  background-color: #3051ff;
  */
  margin: 0;
  opacity: 0;
}

.header .menu-item-nav-header:hover {
  opacity: 0.8;
}

.header .menu-item-nav-header svg {
  width: 24px;
  height: 24px;
  fill: #000;
}

.bem-vindo {
  opacity: 0.4;
}
