.header{
    position: absolute;
    top: 0;
    left: 210px;
    width: calc(100% - 250px);
    height: 80px;
    background-color: #fff;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.header-menu-is-open {
    width: calc(100% - 40px);
    left: 0;
    z-index: 99999;
}

.header .header-svg{
    cursor: pointer;
}

.header .header-svg:hover{
    opacity: .5;
}

.header .header-svg-false{
    display: none;
}