.container-main-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff90;
  z-index: 9999;
  backdrop-filter: blur(2px);
}

.container-main-login svg{
  position: absolute;
  top: 40%;
  left: calc(50% - 25px);
}

.animated {
  stroke-dasharray: 200; 
  stroke-dashoffset: 200;
  animation: draw 2s linear infinite;
}

@keyframes draw {
  0% { stroke-dashoffset: 200; }
  50% { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: 200; }
}

@keyframes fade {
  0%, 40% { opacity: 0; }
  50%, 90% { opacity: 1; }
  100% { opacity: 0; }
}