.container-input-date {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
    position: relative;
    align-items: start;
    width: 300px;
    text-align: left;
}

.container-input-date .input-date {
    height: 52px;
    font-size: 16px;
    font-family: Inter;
    color: #344054;

    border: 2px solid #D9D9D9;
    border-radius: 20px;
    outline: none;

    padding: 0 64px 0 24px; /* padding extra à direita por causa do ícone */
    cursor: pointer;
}

.container-input-date svg {
    background-color: #fff;
    position: absolute;
    right: 100px;
    bottom: 13px;
    padding: 3px;
}

/* Remove o ícone do calendário no Chrome/Edge/Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  